.sat__container .sat__image {
    margin-bottom: 4rem;    
}

.sat__container .sat__image img {    
    height: 35rem;
    object-position: top;
}

.sat__container div:not(:first-child) {
    background: var(--color-bg1);
    padding: 2rem;
    margin: 2rem 0 5rem 0;
    border-radius: 1rem;
}
.sat__container h2 {
    color: var(--color-warning);
    text-transform: capitalize;
}

.sat__container div p {
    font-size: 1.25rem;
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 3rem;
    transition: var(--transition);
}

/* ============ media queries ============= */
@media screen and (max-width: 820px) {
    .sat {
        margin-top: -18rem;
    }
    .sat__container {
        width: var(--container-width-md);        
    }

    .sat__container div{        
        width: 45rem;        
    }
    .sat__heading img {        
        margin-top: 20rem;        
    }  
}

@media screen and (max-width: 400px) {
    .sat__container {
        width: var(--container-width-sm);        
    }

    .sat__container div{        
        width: 22rem;          
    }

    .sat__container div p {
        text-align: left;
        font-size: 1rem;
    }
}