header {
    position: relative; /* placing after the menu*/
    top: 1rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
  }
  .header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
  }
  
  .header__left h1, 
  .categories__left h1 {
    font-size: 3rem;
    line-height: 1;
    text-align: left;
    color: var(--color-white);
    font-weight: 700;    
  }

  .header__left p {
    margin: 1rem 0 2.4rem;
  }

/* ============= MEDIA QUERIES (TABLETS) ============= */
@media screen and (max-width: 820px) {
    header {
      width: var(--container-width-md);     
    }
  
    .header__container {
      margin-top: 6rem;    
    }
}

@media screen and (max-width: 425px) {
header {
    width: var(--container-width-sm); 
    height: 50rem;    
  }

  .header__container{
    grid-template-columns: 1fr;       
  }
 
  .header__left p{
    margin-bottom: 1.5rem;
  } 

  .header__right {
    margin-top: -10rem;
    overflow: hidden; 
  } 
}