.ial__container div:not(:first-child) {
    background: var(--color-bg1);
    padding: 2rem;
    margin: 2rem 0 5rem 0;
    border-radius: 1rem;
}
.ial__container h2 {
    color: var(--color-warning);
    text-transform: capitalize;
}

.ial__container div p {
    font-size: 1.25rem;
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 3rem;
    transition: var(--transition);
}

.ial__heading h1 {
    text-align: center;
}

@media screen and (max-width: 820px) {
    .ial {
        margin-top: -18rem;
    }

    .ial__container {
        width: var(--container-width-md);        
    }

    .ial__container div{        
        width: 45rem;        
    }
    .ial__heading {
        width: 30rem;
        margin-top: 20rem;        
    }      
}

@media screen and (max-width: 400px) {
    
    .ial__container {
        width: var(--container-width-sm);        
    }

    .ial__container div{        
        width: 22rem;          
    }

    .ial__container div p {
        text-align: left;
        font-size: 1rem;
    }
}